.code {
  color: $red-normal;
  font-size: 12px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 66.7vh;
  max-height: 66.7vh;
  overflow-y: scroll;
  padding: 12px;
}

.content-container,
.action-container {
  max-width: 1280px;
  width: 100%;
  padding: 16px;
}

.name-container {
  background-color: $bg-container;
  border: 1px solid $red-normal;
  padding: 4px 8px;

  .name {
    color: $blue-normal;
    font-size: 24px;
  }
}

.npc,
.me {
  width: fit-content;
  max-width: 50%;
  padding: 8px;
  background-color: $bg-container;
  border-radius: 10px;
  margin-bottom: 12px;
  position: relative;
}

.npc {
  color: $yellow-normal;
  border: 1px solid $yellow-normal;
  border-top-left-radius: 0;
}

.me {
  color: $blue-normal;
  border: 1px solid $blue-normal;
  border-top-right-radius: 0;
  align-self: flex-end;
}

.channel-message-form {
  align-items: flex-start;
  display: flex;
  padding-bottom: 1rem;

  .form-group {
    flex: 1;
  }

  .form-footer {
    margin-left: 1rem;
    margin-top: 1.42rem;
  }

  .form-control {
    width: 100%;
  }
}

.form-label {
  background-color: $red-normal;
  font-size: 0.92rem;
  display: inline-block;
  padding: 4px 24px 4px 8px;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
  vertical-align: bottom;
  clip-path: polygon(
    0.25em 0,
    calc(100% - 1em) 0,
    100% 100%,
    0.33em 100%,
    0 100%,
    0 0.25em
  );
}

.form-control {
  background-color: $bg-container;
  border: 1px solid $red-normal;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1rem + 2px), calc(100% - 1rem + 2px) 100%, 0 100%);
  padding-right: 0.5rem;
  position: relative;

  &::before {
    background-color: $red-normal;
    bottom: 5px;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    right: -6px;
    top: auto;
    transform: rotate(-45deg);
    width: 22.627416px;
    z-index: 10;
  }

  input,
  textarea {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    color: $red-normal;
    font-size: 1rem;
    letter-spacing: 0.045em;
    outline: none;
    padding: 0.5rem;
    resize: none;
    width: 100%;
  }

  &--with-addon {
    align-items: center;
    display: flex;

    .button,
    .button:hover {
      background-color: transparent;
      border-color: transparent;
    }
  }

  &__addon {
    display: inline-block;
    padding: 0.45rem;

    svg {
      display: block;
      fill: currentcolor;
      height: 1.125rem;
      opacity: 0.66;
      width: 1.125rem;
    }

    &--prefix {
      order: -1;
    }

    &--suffix {
      order: 1;
    }
  }
}

.form-search {
  margin-bottom: 0.75rem;
}

.message {
  padding-bottom: 1rem;

  &__body {
    border: 1px solid $yellow-normal;
    border-radius: 3px;
    color: $yellow-normal;
    padding: 0.75rem;
  }

  &__footer {
    color: $yellow-normal;
    font-size: 0.85rem;
    margin-top: 0.25rem;
  }
}

.button {
  background-color: transparent;
  border: 1px solid $red-normal;
  border-radius: 2px;
  cursor: pointer;
  color: $red-normal;
  display: inline-block;
  letter-spacing: 0.045em;
  padding: 0.45rem;
  text-align: left;
  text-transform: uppercase;

  &:hover {
    background-color: $red-normal;
    color: $red-normal;
  }

  &__icon {
    display: block;
    height: 1.125rem;
    line-height: 0.5;
    width: 1.125rem;
    right: 4px;
    font-size: xxx-large;
    fill: currentcolor;
  }

  &__content {
    display: inline-block;
    z-index: 2;
  }

  &--size-lg,
  &--size-xl {
    border-width: 2px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1rem + 2px), calc(100% - 1rem + 2px) 100%, 0 100%);
    padding: 0.55rem 0.7rem 0.7rem 0.55rem;
    position: relative;

    &::before {
      background-color: currentcolor;
      bottom: 5px;
      content: "";
      display: block;
      height: 3px;
      position: absolute;
      right: -6px;
      top: auto;
      transform: rotate(-45deg);
      width: 22.627416px;
      z-index: 10;
    }
  }

  &--size-xl {
    padding: 0.55rem 1.5rem 1.5rem 0.55rem;
  }

  &--primary {
    color: $blue-normal;
    border-color: $blue-normal;

    &:hover {
      background-color: $bg-container;
      color: $blue-normal;
    }
  }
}

.button-toolbar {
  display: flex;

  .button {
    display: block;
    border-radius: 0;

    + .button {
      margin-left: -1px;
    }
  }
}

.channel-feed {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__body {
    flex-grow: 1;
  }
}

.segment-topbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  min-height: 3.5rem;
  position: relative;

  &::after {
    background-color: $red-normal;
    box-shadow: 0 0 5px $red-normal;
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    left: 0;
    width: 100%;
  }

  &__header {
    padding: 0.5rem 0.5rem;
    padding-top: 0;
  }

  &__title {
    letter-spacing: 0.035em;
    text-shadow: -9px -6px 40px $red-normal;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: 600;
  }

  &__aside {
    align-self: flex-start;
    box-shadow: -6px -4px 24px rgba(156, 50, 48, 0.4);
  }
}
